@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 100'), local('Museo-Sans-Cyrl-100'), url('100.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 100 Italic'), local('Museo-Sans-Cyrl-100-Italic'), url('100i.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Light'), local('Museo-Sans-Cyrl-Light'), url('300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Light Italic'), local('Museo-Sans-Cyrl-LightItalic'), url('300i.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl'), url('500.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Italic'), local('Museo-Sans-Cyrl-Italic'), url('500i.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Medium'), local('Museo-Sans-Cyrl-Medium'), url('500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Medium Italic'), local('Museo-Sans-Cyrl-MediumItalic'), url('500i.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Bold'), local('Museo-Sans-Cyrl-Bold'), url('700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl Bold Italic'), local('Museo-Sans-Cyrl-BoldItalic'), url('700i.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 900'), local('Museo-Sans-Cyrl-900'), url('900.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 900 Italic'), local('Museo-Sans-Cyrl-900-Italic'), url('900i.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}