.margin-t-1 {
  margin-top: 15px; }
  .margin-t-1-5 {
    margin-top: 22.5px; }

.margin-t-2 {
  margin-top: 30px; }
  .margin-t-2-5 {
    margin-top: 37.5px; }

.margin-t-3 {
  margin-top: 45px; }
  .margin-t-3-5 {
    margin-top: 52.5px; }

.margin-t-4 {
  margin-top: 60px; }
  .margin-t-4-5 {
    margin-top: 67.5px; }

.margin-b-1 {
  margin-top: 15px; }
  .margin-b-1-5 {
    margin-top: 22.5px; }

.margin-b-2 {
  margin-top: 30px; }
  .margin-b-2-5 {
    margin-top: 37.5px; }

.margin-b-3 {
  margin-top: 45px; }
  .margin-b-3-5 {
    margin-top: 52.5px; }

.margin-b-4 {
  margin-top: 60px; }
  .margin-b-4-5 {
    margin-top: 67.5px; }

.margin-tb-1 {
  margin-top: 15px; }
  .margin-tb-1-5 {
    margin-top: 22.5px; }

.margin-tb-2 {
  margin-top: 30px; }
  .margin-tb-2-5 {
    margin-top: 37.5px; }

.margin-tb-3 {
  margin-top: 45px; }
  .margin-tb-3-5 {
    margin-top: 52.5px; }

.margin-tb-4 {
  margin-top: 60px; }
  .margin-tb-4-5 {
    margin-top: 67.5px; }
